body{
  
  margin:0px;
  background-color:#E6E6FA;
}
.mainform{
margin-top:300px;
margin-left:600px;
width:250px;
height:250px;
border: 1px solid #80808c;
}
h1{
  height: 40px;
  text-align: center;
  margin:0px;
  font-family: 'Exo 2', sans-serif;
  font-size: 21px;
  background-color:#b8b8c8; 
  border-bottom: 1px solid #80808c;
}
p{
  margin-left:35px;
}
p4{
  margin-left:20px;
}
h2{
  margin-left:50px;
}